.explorer-window.explorer-window.explorer-window.explorer-window {
    .loader-indicator {
        opacity: 0;

        &:not(.visible) {
            display: none;
            opacity: 0;
        }

        &.visible {
            animation: fsexplorer-fadein 220ms;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes fsexplorer-fadein {
    0% {
        display: none;
        opacity: 0;
    }

    50% {
        display: none;
        opacity: 0;
    }

    51% {
        display: block !important;
        opacity: 0;
    }

    100% {
        display: block !important;
        opacity: 1;
    }
}
