.explorer-window.explorer-window.explorer-window.explorer-window {
    .left-pane {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: auto;
        overflow-x: hidden;
        width: max(12%, 20em);

        &.hidden {
            display: none;
        }

        & .places {
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            overflow-x: hidden;
            justify-items: stretch;
            max-width: 100%;

            & .pane-header {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                margin: .5em .3em;

                & .header-title {
                    place-self: center;
                    flex: 1;
                    text-align: center;
                    margin-left: 2.5em;
                    font-weight: 600;
                }

                & .btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    & svg {
                        height: 1.2em;
                        width: 1.2em;

                        & path,
                        & rect {
                            fill: var(--clr-text) !important;
                        }
                    }
                }
            }

            & .left-pane-places {
                max-width: 100%;
                display: flex;
                flex-direction: column;
                height: fit-content;
                align-items: center;
                overflow: auto;

                & .separator {
                    margin-bottom: 1em;
                    margin-left: 1em;
                    margin-right: 1em;
                    width: calc(100% - 2em);
                }

                & .places-label {
                    padding: .4em 0em .4em 1.25em;
                }

                & .options-btn {
                    position: relative;

                    &.active.active.active.active {
                        background-color: var(--clr-btn-hover);
                    }
                }

                & .seps {
                    margin-block: 2em;

                    &.hidden {
                        display: none;
                    }
                }

                & .place-link {
                    flex-direction: row;
                    display: flex;
                    margin-bottom: 0.2em;
                    width: calc(100% - 2em);
                    align-items: center;

                    &.toggled {
                        background-color: color-mix(in srgb,
                        var(--clr-primary-500) 45%, transparent);
                    }

                    & .icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: .75em;

                        & svg {
                            height: 1em;
                            width: 1em;
                        }
                    }

                    & .label {
                        max-width: 80%;
                        margin-top: 3px;

                        & span {
                            display: inline-block;
                            max-width: 100%;
                            overflow-x: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                    }

                    & > * {
                        cursor: var(--current-cursor, pointer);
                    }
                }
            }
        }
    }

    & .options-menu {
        display: flex;
        flex-direction: column;
        background-color: var(--clr-bg-5);
        border-radius: var(--border-radius);
        padding: .3em;
        max-height: unset;

        & button {
            min-width: 12em;
            padding-inline: 0.5em;
            display: flex;
            justify-content: flex-start;
        }

        & .show-hidden-btn.show-hidden-btn.show-hidden-btn.show-hidden-btn {
            display: flex;
            justify-content: space-between;

            & input {
                margin: 0;
            }
        }
    }

    & .left-pane-context-menu {
        display: flex;
        background-color: var(--clr-bg-2);
        border-radius: var(--border-radius);
        font-size: .9em;
        flex-direction: column;
        justify-content: stretch;
        padding: .3em;
        transition: height .2s ease-in-out, width .2s ease-in-out;
    }
}
