.explorer-window.explorer-window.explorer-window.explorer-window {
    .prompt-dialog {
        min-width: min(24em, 75vw);

        & .prompt-body {
            display: flex;
            flex-direction: column;
            padding: 1em;

            & input {
                margin-block: .6em;
            }
        }

        & .error-msg {
            margin-top: .5em;
            margin-left: .5em;
            font-size: .7em;
        }
    }
}
