.explorer-window.explorer-window.explorer-window.explorer-window {
    .prompt-backdrop {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #2f2f2f82;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;

        &.hidden {
            display: none;
        }

        & .prompt-body {
            display: flex;
            flex-direction: column;
            padding: 1em;

            & input {
                margin-block: .6em;
            }
        }

        & .error-msg {
            margin-top: .5em;
            margin-left: .5em;
            font-size: .7em;
        }
    }
}
