.location-bar {
    display: flex;
    flex-direction: row;
    padding: .5em .8em .5em .2em;

    & button.btn {
        display: flex;
        justify-content: center;
        align-items: center;

        & .control-icon {
            display: flex;
            justify-content: center;
            align-items: center;

            & svg {
                width: 1.5em;
                height: 1.5em;
            }
        }
    }

    & .control-buttons {
        display: flex;
        flex-direction: row;
        margin-right: .6em;
        width: 16em;
    }

    & .location-editor {
        flex: 1;
        padding: .6em .8em;
        background-color: var(--clr-bg-3);
        border-radius: 4px;
    }

    & .location-preview {
        flex: 1;
    }
}
