@import "./base/components/context-menu/styles.css";

@import "./base/components/overlay/styles.css";

@import "./base/components/dir-view/styles.css";

@import "./base/components/left-pane/styles.css";

@import "./base/components/location-bar/styles.css";

@import "./base/components/preview-pane/styles.css";

@import "./base/components/prompt/styles.css";

@import "./base/components/window/styles.css";

@import "./base/components/statusbar/styles.css";

@import "./base/components/_common/loader-styles.css";

@import "./base/components/jobs/styles.css";

.explorer-window.explorer-window.explorer-window.explorer-window {
    box-sizing: border-box;

    & * {
        font-size: inherit;
        box-sizing: border-box;
        user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
    }

    & .dcontents {
        display: contents;
    }

    & .btn.square {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
