@import "./base/components/window/styles.css";

@import "./base/components/location-bar/styles.css";

@import "./base/components/dir-view/styles.css";

@import "./base/components/left-pane/styles.css";

@import "./base/components/preview-pane/styles.css";

.explorer-window {
    & * {
        font-size: inherit;
        user-select: none;
    }

    & .dcontents {
        display: contents;
    }
}
