.explorer-window {
    position: relative;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-height: 100vh;
    min-height: 16em;

    & .explorer-content {
        flex: 1;
        flex-direction: row;
        max-height: calc(100% - 3em);
    }

    & * {
        max-height: 100%;
    }
}
