/** top bar is 3em, statusbar is 2em */
.explorer-window {
    position: relative;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-height: 100vh;
    min-height: 16em;

    & .explorer-content {
        flex: 1;
        display: flex;
        flex-direction: row;
        max-height: calc(100% - 1.6em);

        & .main-view-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            max-height: 100%;

            & .dir-view-wrapper {
                flex: 1;
                display: flex;
                flex-direction: row;
                height: calc(100% - 3.5em);
            }
        }
    }

    & * {
        max-height: 100%;
    }
}
